// COLORS
$color-primary: #8ca5a6; // Cascade

$color-light-shade: #f4f4f1; // Desert Storm
$color-dark-shade: #232f40; // Ebony Clay

$color-light-accent: #928562; // Clay Creek
$color-dark-accent: #79686c; // Spicy Pink

$color-white: #f4f4f1; // Desert Storm

// FONT
$default-font-size: 1.6rem;
